<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Simple Blackjack</title>
</head>
<body>
	<h1>Welcome To Simple Blackjack Game</h1>

	{{ #userExists }}
		<div>Hi, {{ name }}</div>
		<div>Wallet: {{ wallet }}</div>
		<div>Hand Value: {{ handValue }}</div>
		<table>
			<th>Dealer's Hand:</th><th>Player's Hand:</th>
			<tr>
				<td>
				{{#showOneDealerCard}}
					<div>{{dealerHand.0}}</div>
				{{/showOneDealerCard}}
				{{#userStands}}
					{{ #dealerHand }}
						<div>{{.}}</div> 
					{{ /dealerHand }}
				{{/userStands}}	
				</td>
	
				<td>
				{{ #playerHand }}
				<div>{{.}}</div> 
				{{ /playerHand }}
				</td>
			</tr>
		</table>
		{{ #hideHitAndStand }} 
		{{ #hideDependingOnPlayerHand }}
			<form method="post" action="/blackjack/hit">
				<button>Hit</button>
			</form>
			<form method="post" action="/blackjack/stand">
				<button>Stand</button>
			</form>
			<form method="post" action="/blackjack/doubleDown">
				<button>Double Down</button>
			</form>
		{{ /hideDependingOnPlayerHand }}
		{{ /hideHitAndStand }} 
		
	{{ #userLost }}
		<p>You lost! Play again?</p>
		<form method="post" action="/blackjack/bet">
			<input type="number" name="bet" placeholder="Place Your Bet" required>
			<button>Bet</button>
		</form>
	{{ /userLost }}
	
	{{ #push }}
		<p>Push... Play again?</p>
		<form method="post" action="/blackjack/bet">
			<input type="number" name="bet" placeholder="Place Your Bet" required>
			<button>Bet</button>
		</form>
	{{ /push }}
	
	{{ #userWon }}
		<p>You won! Play again?</p>
		<form method="post" action="/blackjack/bet">
			<input type="number" name="bet" placeholder="Place Your Bet" required>
			<button>Bet</button>
		</form>
	{{ /userWon }}
	{{ /userExists }} 
	
	{{ #newUser }}
		{{ #ranOutOfMoney }}
			<h3>You ran out of money. Start a new game!</h3>
		{{ /ranOutOfMoney }}
		<div>What is your name?</div>
		<form method="post" action="/blackjack/user">
			<input type="text" name="name" placeholder="Enter Your Name" required>
			<br>
			<div>How much will money will you be placing?</div>
			<input type="number" name="wallet" placeholder="Enter Your Wallet"
				required> <br>
			<input type="number" name="bet" placeholder="Enter Your Bet"
				required> <br>
			<button>Submit</button>
		</form>
	{{ /newUser}}
	
</body>
</html>